---
title: Nimble Kettle, LLC | Digital, Print, and Branding
---

<header>
  <div class="header-description">
    <h1><b>An artisan design company</b></br>helping entrepreneurs and creative nine-to-fivers build better experiences through design.</h1>
    <h2>Digital &mdash; Print &mdash; Branding</h2>
  </div>
</header>
<div class="featured-content">
  <a class="blog-posts" href="#">
    <div class="content-width">
      <div class="col1">
        <h2 class="featured-type">New Blog Post</h2>
        <h1 class="featured-title">How Customer Empathy Can Have a Positive Effect on Your Design Choices</h1>
      </div>
      <div class="col2">
        <h2>Read On &xrarr;</h2>
      </div>
    </div>
    <span></span>
  </a>
</div>
<div class="main-content">
  <div class="content-width">
    <div class="col1">
      <img src="images/photo-watercolor.png" alt="artist painting">
    </div>
    <div class="col2">
      <h1>Design is about more than just making things pretty;</h1>
      <p>it's about how we, as businesses, engage with others. I work as a sidekick ot your team, bringing clarity and intention to your projects.</p>
      <h2>I believe design is:</h2>
      <ol>
        <li>Creating seamless interactions</li>
        <li>A process of problem solving</li>
        <li>Better when it's collaborative</li>
        <li>More vlauable when it's actionable</li>
      </ol>
    </div>
    <div class="core-value">
      <h3>It this resonates with you, stick around. We may just be kindred spirits &amp; future collaborators.</h3>
      <img src="images/icon-coffee-pot-1.png" alt="coffee pot">
    </div>
  </div>
</div>
<div class="secondary-content">
  <div class="content-width">
    <div class="case-study-bookend-top">
      <h1>Case Studies</h1>
      <h2>Check out the results of these recent engagements</h2>
    </div>
    </a>
    <a href="#">
      <div class="case-study cs1">
        <h2 class="project-type">Branding, Print, Website</h2>
        <h1>Bear River Chiropractic</h1>
      </div>
    </a>
    <div class="case-study-border"></div>
    <a href="#">
      <div class="case-study cs2">
        <h2 class="project-type">Strategy, Website</h2>
        <h1>St. Martin Lutheran Church</h1>
      </div>
    </a>
    <div class="case-study-border"></div>
    <a href="#">
      <div class="case-study cs3">
        <h2 class="project-type">Digital Design</h2>
        <h1>KINO Metrics</h1>
      </div>
    </a>
    <div class="case-study-bookend-bottom">
      <img src="images/icon-coffee-cup-1.png" alt="coffee cup">
    </div>
  </div>
</div>
<div class="featured-content">
  <a class="cta" href="#">
    <div class="content-width">
      <h1>Let's Start a Project Together</h1>
    </div>
  </a>
</div>
<div class="core-value">
  <h2>Core Value &numero; 01</h2>
  <h3>Make every interaction thoughtful &amp; unique.</h3>
  <img src="images/icon-tea-bag-1.png" alt="tea bag">
</div>
