<footer>
  <div class="social">
    <h1>Connect With Me:</h1><ul class="social-list">
      <li><a href="https://www.facebook.com/nimblekettle/"><img src="images/facebook.png"></a></li>
      <li><a href="https://www.instagram.com/christa_m_r/"><img src="images/instagram.png"></a></li>
      <li><a href="https://www.linkedin.com/company/10183392"><img src="images/linkedin.png"></a></li>
    </ul>
  </div>
  <div class="main">
    <nav class="footer-nav">
      <ul>
        <li><a href="index.html">Home</a> | </li>
        <li><a href="about.html">About</a> | </li>
        <li><a href="services.html">Services</a> | </li>
        <li><a href="work.html">Work</a> | </li>
        <li><a href="resources.html">Resources</a> | </li>
        <li><a href="contact.html">Contact</a></li>
      </0ol>
    </nav>
    <h2>Get in Touch</h2>
    <p>christa@nimblekettle.com</br>231.622.5032</p>
    <h2>Proudly Serving</h2>
    <p>Petoskey, Michigan &middot; Orlando, Florida</br>&amp; Anywhere With a Wifi Connection</p>
  </div>
  <div class="sign-off">
    <p>Thoughtfully crafted by Nimlbe Kettle, LLC in Petoskey, Michigan</p>
  </div>
</footer>
