/* -- FEATURED CTA -- */

div.featured-cta {
  background-color: #AFC639;
  box-shadow: 1px 1px 10px rgba(124, 123, 119, 0.35);
  text-align: center;
}

div.featured-cta .content-width {
  padding: 40px 0;
}

.featured-cta h1 {
  padding: 0;
  font-weight: 800;
  font-size: 1.75em;
}

div.featured-cta a {
  text-decoration: none;
}
