/* -- HEADER CONTENT -- */
.home header {
  background-image: image-url("heading-drawing.png");
}

header {
  background-size: cover;
  padding-bottom: 10px;
  z-index: -1;
  margin-top: -100px;
  padding: 300px 0 110px 0;
}

header .header-description {
  width: 50%;
  text-align: center;
  border: 2px solid #AFC639;
  padding: 35px;
  margin-right: auto;
  margin-left: auto;
}

header .header-description h1 {
  font-size: 2.5em;
}
